.edit {
    p {
        text-align: left;
    }

    label {
        @include font-normal;
        line-height: 2rem;
        width: 12rem;
        display: inline-block;
        padding: 3px 5px;

        span {
            font-style: italic;
            vertical-align: middle;
            padding-left: 10px;
        }
    }

    input, textarea, select {
        width: 70%;
        line-height: 1.5rem;
        padding: 3px 5px;
    }

    textarea {
        max-width: 70%;
        min-height: 200px;
    }

    input[type='text']:disabled, input[type='file'] {
        width: 40%;
    }

    input[type='checkbox'] {
        width: auto;
    }

    input[type='radio'] {
        width: 20px;
        margin-right: 30px;
    }

    img, video, object {
        width: 70%;
        vertical-align: middle;
    }

    object {
        min-height: 400px;
    }

    span {
        margin-left: 13rem;
        margin-bottom: 20px;
        font-style: italic;
        display: block;
    }

    &-button {
        text-align: center;
        margin: 10px 0;
    }

}