.manage-menu{
  @include container;
  @include cf;

  border: 1px solid $palette5;
  @include border-radius(7px);
  padding: 10px;

  &_item {
    @include breakpoint( $media-md-lg ) {
      width: 50%;
      float: left;
      padding: 0 10px;
    }

    > p {
      text-align: center;
      font-weight: bold;
    }

    li {
      padding: 10px 0;
      font-size: 0;

      img {
        margin-left: 5px;
        margin-right: 5px;
        width: 20px;
      }

      span {
        display: inline-block;
        font-size: 1rem;

        &:hover{
          color: $palette6;
          cursor: pointer;
        }
      }
    }

    &:last-child{
      @include breakpoint( $media-md-lg ) {
        border-left: 1px solid $palette5;
      }
    }

  }

  &-displayed {
    li:first-child img:first-child{
      display: none;
    }

    li:first-child img:nth-child(2){
      margin-left: 35px;
    }

    li:last-child img:first-child{
      margin-right: 35px;
    }

    li:last-child img:nth-child(2){
      display: none;
    }

  }

}