@import "gallery";

figure {

    @include cf;

    img {
        float: left;
        width: 30%;
    }

    figcaption {
        float: right;
        width: 70%;
        text-align: left;
        padding: 10px;
    }

    margin: 10px;
}