.newsletter {

  &-title {
    text-align: left;

    h2 {
      padding: 10px 20px;
      color: $palette3;
      display: inline-block;
      font-weight: bold;
    }
  }

  ul {
    padding: 20px 0;

    li {
      display: inline-block;
    }
  }

  padding-top: 15px;
  margin-top: 15px;
  padding-bottom: 30px;
  border-top: 1px solid $palette3;
  text-align: center;

  &-detail{
    object {
      width: 100%;
      min-height: 600px;
    }
  }

}